<include href="views/header.html"></include>
<body>
<h1>Food Order - Continued</h1>
<form method="post" action="summary">
    <label>Condiments:</label>
        <repeat group="{{@condiments}}" value="{{@condiment}}">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{@condiment}}" value="{{@condiment}}">
                <label class="form-check-label">
                    {{ucfirst(@condiment)}}
                </label>
            </div>
        </repeat>
    <input type="submit" value="Place Order!">
</form>
</body>
</html>