<include href="views/header.html"></include>
<body>
    <h1>Food Order</h1>
    <form class="form-check" action="order2" method="post">
        <label>What would you like to order?
            <input type="text" name="food">
        </label> <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="meal" id="meal">
            <label class="form-check-label">
                Breakfast
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="meal" id="meal">
            <label class="form-check-label" >
                Lunch
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="meal" id="meal">
            <label class="form-check-label">
                Dinner
            </label>
        </div>
        <input type="submit" value="Next >>">
    </form>

</body>
</html>