<include href="views/header.html"></include>
<body>
    <h1>Food Order</h1>
    <form class="form-check" action="#" method="post">
        <label>What would you like to order?
            <input type="text" name="food" value="{{ @userFood }}">
            <check if="{{ isset(@errors['food'])}}">
                {{@errors['food']}}
            </check>
        </label> <br>
            <repeat group="{{@meals}}" value="{{@meal}}">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{@meal}}" id="{{@meal}}" value="{{@meal}}">
                    <label class="form-check-label">
                        {{ ucfirst(@meal) }}
                    </label>
                </div> <!-- ALL DATA COMING FROM DATA LAYER -->
            </repeat>
        <input type="submit" value="Next >>">
    </form>

</body>
</html>